footer{
  background-color: #232323;
}
.footer{
  &__main{
    padding: clamp(35px, 11.8vw, 165px) 0;
    display: flex;
    justify-content: space-between;
  }
  &__copyright{
    border-top: 2px solid #484848;
    text-align: center;
    padding: clamp(15px, 3.42vw, 48px) 0;
    color: white;
  }
}