footer{
  background-color: #232323;
}
.footer{
  &__main{
    padding-top: clamp(35px, 11.8vw, 165px);
    padding-bottom: clamp(35px, 11.8vw, 165px);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  &__copyright{
    border-top: 2px solid #484848;
    text-align: center;
    padding: clamp(15px, 3.42vw, 48px) 0;
    color: white;
  }
}