.advantages-list {
  margin-top: clamp(60px, 7.43vw, 100px);
  display: flex;
  gap: clamp(20px, 3.37vw, 47px);
  justify-content: start;
  min-height: 516px;
  align-items: start;

  @media (max-width: 804px) {
    flex-direction: column;
  }


  &__title {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

    @media (max-width: 804px) {
      width: 100%;
    }

    h3 {
      font-family: Lato, Arial;
      font-weight: 900;
      font-size: 16px;
      line-height: 125%;
      color: #232323;
    }

    h4 {
      font-family: Lato, 'Open Sans';
      font-weight: 900;
      font-size: clamp(32px, 3.57vw, 50px);
      line-height: 101%;
      text-transform: uppercase;
      color: #079460;
      margin-top: 20px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 65%;

    @media (max-width: 804px) {
      width: 100%;
    }
  }

  &__item {
    font-family: Lato, Arial;
    font-weight: 500;
    font-size: clamp(16px, 2vw, 28px);
    line-height: 114%;
    color: #06150a;
    padding: 10px 15px;
    background-color: transparent;

    @media (max-width: 804px) {
      padding: 5px 0;
    }

    & span {
      margin-top: 10px;
      transition: 0.5s;
      display: block;
      width: 0;
      height: 2px;
      background-color: #079460;
    }

    &:hover {
      span {
        width: 100%;
      }
    }

  }

}

.accordion {
  width: 100%;
}

.accordion__button {
  font-family: Lato, Arial;
  font-weight: 500;
  font-size: clamp(16px, 1.7vw, 24px);
  line-height: 114%;
  color: #008929;
}

.accordion__item:not(:first-child){
  margin-top: 20px;
}
.accordion__panel {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #232323;
}