.home-partners{
  padding-top: clamp(50px, 10vw, 140px);
  padding-bottom: clamp(50px, 11.28vw, 158px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a{
    font-family: Lato, Arial;
    font-size: 14px;
    color: #008929;
  }
  h2{
    margin: 20px 0 40px 0;
    font-size: clamp(36px, 3.57vw, 50px);
    color: #06150A;
    font-family: Lato, Arial;
  }
}